<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a Show</title>
    <!-- link for icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <div id="wrapper" style="width: 88%; margin: 0px auto; text-align: center;">
        <h1>Add Show</h1>
        <!-- Form to add new Shows -->
        <form action="/submit_show" method="POST" class="col s12">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Title" type="text" name="title">
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Network" name="network" type="text">
                </div>
                <div class="input-field col s6">

                    <input name="release_date" id="release_date" type="date">
                    <label for="release_date"> Release Date </label>
                </div>
            </div>

            <div class="row">
                <div class="input field col s12" style="text-align: left;">
                    <label> <p>Description</p> </label>                    
                    <textarea name="description" id="description" cols="30" rows="10"></textarea>
                </div>
            </div>
            <input type="submit" value="Create">
        </form>
    </div>



{% if messages %}
<div class="container alert alert-danger" role="alert">
    <ul class="messages">
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>Errors:</li>
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

</body>

</html>