<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Display a Show</title>
</head>
<body style="text-align: right;">
    <a href="/shows" style="margin-right: 5%;">Go Back</a>
    <div class="wrapper" style="text-align: left; width: 88%; margin: 0 auto;">
        <h1>TV Show # {{ show.id }} </h1>
        <p>Title: {{ show.title }}</p>
        <p>Network: {{ show.network }}</p>
        <p>Release Date: {{ show.release_date }}</p>
        <p>Description: {{ show.description }}</p>
        <p>Last Updated: {{ show.updated_at }}</p>
        <p><a href="/edit_show/{{ show.id }}">Edit</a> | <a href="/delete_show/{{ show.id }}">Delete</a></p>
    </div>

</body>
</html>